@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #1e293b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #0056b3;
  --color-primary-dark: #004494;
  --color-primary-light: #e6f0fa;
  --color-accent: #10b981;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}
